# Downloaded DIV2K Datasets 
data/

# Folders of SRGAN & CRGAN results, they contain:
# - epochs
# - statistics
# - training_results
## results_SRGAN/
## results_CRGAN/
*.pth
# *.csv
*.png

# Python runtime files
__pycache__